* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(129, 109, 78);

  .content_div {
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    box-shadow: 2px 2px 5px rgba(106, 102, 54, 0.875);

    .circle_div {
      width: 140px;
      height: 140px;
      background-color: rgb(5, 142, 21);
      border-radius: 50%;
      position: relative;

      #square {
        position: absolute;
        top: 35px;
        left: 35px;
        width: 70px;
        height: 70px;
        background-color: white;
      }
      #round {
        position: absolute;
        top: 35px;
        left: 35px;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: white;
      }
      #diamond {
        position: absolute;
        top: 35px;
        left: 35px;
        width: 70px;
        height: 70px;
        background-color: white;
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
      }
      #triangle {
        position: absolute;
        top: 35px;
        left: 35px;
        width: 70px;
        height: 70px;
        background-color: white;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      }
      #arrow {
        position: absolute;
        top: 35px;
        left: 35px;
        width: 70px;
        height: 70px;
        background-color: white;
        clip-path: polygon(
          40% 0%,
          40% 20%,
          100% 20%,
          100% 80%,
          40% 80%,
          40% 100%,
          0% 50%
        );
      }
      #frame {
        position: absolute;
        top: 35px;
        left: 35px;
        width: 70px;
        height: 70px;
        background-color: white;
        clip-path: polygon(
          0% 0%,
          0% 100%,
          25% 100%,
          25% 25%,
          75% 25%,
          75% 75%,
          25% 75%,
          25% 100%,
          100% 100%,
          100% 0%
        );
      }
      #star {
        position: absolute;
        top: 35px;
        left: 35px;
        width: 70px;
        height: 70px;
        background-color: white;
        clip-path: polygon(
          50% 0%,
          61% 35%,
          98% 35%,
          68% 57%,
          79% 91%,
          50% 70%,
          21% 91%,
          32% 57%,
          2% 35%,
          39% 35%
        );
      }
      #cross {
        position: absolute;
        top: 35px;
        left: 35px;
        width: 70px;
        height: 70px;
        background-color: white;
        clip-path: polygon(
          20% 0%,
          0% 20%,
          30% 50%,
          0% 80%,
          20% 100%,
          50% 70%,
          80% 100%,
          100% 80%,
          70% 50%,
          100% 20%,
          80% 0%,
          50% 30%
        );
      }
      #left-point {
        position: absolute;
        top: 35px;
        left: 35px;
        width: 70px;
        height: 70px;
        background-color: white;
        clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
      }
      #right-point {
        position: absolute;
        top: 35px;
        left: 35px;
        width: 70px;
        height: 70px;
        background-color: white;
        clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
      }
      #parallal {
        position: absolute;
        top: 35px;
        left: 35px;
        width: 70px;
        height: 70px;
        background-color: white;
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
      }
      #cheg {
        position: absolute;
        top: 35px;
        left: 35px;
        width: 70px;
        height: 70px;
        background-color: white;
        clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
      }
    }

    .btn_div {
      margin: 40px auto 20px;
      width: 70%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      button {
        padding: 10px 13px;
        background-color: rgb(18, 2, 2);
        color: white;
        border: none;
        border-radius: 7px;
        cursor: pointer;
      }
    }
  }
}
